[Unit]
Description=Automatically round volume to steps of 5 and set left/right channel to same value
After=pipewire.service

[Service]
Restart=always
ExecStart=/home/sarius/.correctVolume.py
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
